*,
*::after,
*::before {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
}

:root {
  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 4px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
