@font-face {
  font-family: cocogoose;
  src: url(../fonts/Cocogoose-Classic-Medium-trial.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  background-image: url(../assets/mobile-bg.png);
  background-position-x: center;
  background-position-y: 40%;
  background-repeat: repeat;
  background-size: contain;
  padding-top: 40px;
}

.c-black {
  color: var(--c-black);
}

.main-header {
  width: 100%;
  padding: 20px var(--floor-width-padding);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--c-gap);
}

.logo {
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
}

.drop-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 38px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  padding-right: 40px;
}

.menu-list {
  width: 100%;
  border-bottom: 1px solid var(--c-gray);
  padding: 20px;
}

.menu-list a {
  color: var(--c-red);
  padding: 0 12px;
  font-size: 1.2rem;
  font-weight: 508;
}

.campaign {
  width: 100%;
  padding: 0 40px;
  color: var(--c-red);
  margin-bottom: 24px;
}

.campaign a {
  padding: 12px;
  border: 3px solid var(--c-red);
  font-size: 16px;
  font-weight: 400;
}

.header-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--c-internal-gap);
}

.greetings {
  color: var(--c-red);
  font-weight: 500;
  font-size: 16px;
}

.intro {
  font-size: 16px;
  font-weight: 900;
  background-image: url(../assets/bg/text.png);
  background-size: cover;
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.para {
  font-size: 11px;
  line-height: 1.7;
  padding: 12px 18px;
  background-color: #fff;
}

.bold {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgb(39, 42, 49, 0.8);
}

.program-hero {
  color: var(--c-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px var(--floor-width-padding);
}

.programs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.material-symbols-outlined {
  flex: 2;
}

.program-paragraph {
  flex: 8;
  font-size: 10px;
  line-height: 1.5;
}

.program {
  background-color: rgb(255, 255, 255, 0.1);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px;
}

.line {
  font-size: 14px;
}

.line::after {
  content: "";
  display: block;
  height: 1px;
  width: 18px;
  background-color: var(--c-red);
  margin: 5px auto auto auto;
}

.features-hero {
  line-height: 1.5;
  background-color: #fff;
  color: var(--c-black);
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  padding: 48px var(--floor-width-padding);
}

.features {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.features.expand ul {
  max-height: none;
}

.feature {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.feature:first-child {
  flex: 1;
}

.feature:last-child {
  flex: 4;
}

.dp > img {
  max-width: 80px;
}

.footer-first-section {
  background-color: var(--c-black);
  color: var(--c-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  padding: 48px var(--floor-width-padding);
}

.sponsors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  font-size: large;
}

.summit {
  background-color: var(--c-red);
  padding: 24px;
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  text-align: center;
}

.program-header {
  font-size: 12px;
  color: var(--c-red);
  flex: 4;
}

.footer-section-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
  padding: 48px var(--floor-width-padding);
  max-width: 480px;
  margin: 0 auto;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 10px;
}

.speaker-title {
  color: var(--c-red);
}

.speaker {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.more-less {
  background-color: #f0f0f0;
  color: #333;
  border: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.more-less:hover {
  background-color: #ccc;
}
